<!DOCTYPE html>
<html lang="pt">

<head>
    <title>Monette Gourmet</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="style.css">
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans:100,300" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="slick/slick-theme.css"/>
    <link rel="icon" href="images/icon.jpeg">
</head>

<body>
    <!--BANNER-->
        <section id="banner">
            <img src="images/monette_logo.jpg" alt="Monette Gourmet" id="banner_logo">
            <h3>Adoçando suas memórias</h3>
        </section>
    
    <!--BOLOS-->                
        <section id="bolos">
            <h3>Bolos</h3>

            <!--CARROSEL DOS BOLOS-->
            <div class= "container"> <!--Colocar essa parte dinamica no django-->
                <div class="car">
                    <div><img src="images/bolos/monette1.jpg"></div>
                    <div><img src="images/bolos/monette7.jpg"></div>
                    <div><img src="images/bolos/monette3.jpg"></div>
                    <div><img src="images/bolos/monette4.jpeg"></div>
                    <div><img src="images/bolos/monette5.jpeg"></div>
                    <div><img src="images/bolos/monette6.jpeg"></div>
                </div>
            </div>
            
            <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
            <script type="text/javascript" src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
            <script type="text/javascript" src="slick/slick.min.js"></script>
        </section>
    
    <!--MONTE SEU BOLO-->
        <section id="monte_seu_bolo">
            <h3>Monte seu bolo</h3>  
            
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
            <select style="margin: 0 5% 0 13%;" name="service" required class="border-box-contact">
                <option value="" disabled selected>Tamanho</option>
                <option value=1>PP (~1,2kg)</option>
                <option value=2>P (~1,8kg)</option>
                <option value=3>M (~2,5kg)</option>
                <option value=4>G (~3,5kg)</option>
            </select>
            
            <select style="margin: 0 5% 0 5%;" name="service" required class="border-box-contact">
                <option value="" disabled selected>Sabor da Massa</option>
                <!--{% for servico in servicos %}
                    <option>
                        {{servico.servico}}
                    </option> 				
                    {% endfor %}-->
                <option>Baunilha</option>
                <option>Chocolate</option>
                <option>Red Velvet</option>
            </select>

            <select style="margin: 0 5% 0 5%;" name="service" required class="border-box-contact">
                <option value="" disabled selected>Recheios</option>
                <!--{% for servico in servicos %}
                    <option>
                        {{servico.servico}}
                    </option> 				
                    {% endfor %}-->
                <option>Chocolate ao Leite</option>
                <option>Chocolate Branco</option>
                <option>Leite Ninho</option>
                <option>Doce de Leite com Queijo</option>
                <option>Nutella</option>
                <option>Ovomaltine</option>
                <option>Prestígio</option>
                <option>Churros</option>
                <option>Chocolate de Limão</option>
                <option>Napolitano</option>
                <option>Chocolate Meio Amargo</option>
                <option>Beijinho</option>
                <option>Capuccino</option>
                <option>Paçoca</option>
                <option>Morango Silvestre</option>
                <option>Oreo</option>
                <option>Leite Ninho com Nutela</option>
                <option>Romeu e Julieta</option>
                <option>Chocolate Belga de Laranja</option>
            </select>

            <select style="margin: 0 5% 0 5%;" name="service" required class="border-box-contact">
                <option value="" disabled selected>Cobertura</option>
                <!--{% for servico in servicos %}
                    <option>
                        {{servico.servico}}
                    </option> 				
                    {% endfor %}-->
                <option>Chocolate ao Leite</option>
                <option>Chocolate Branco</option>
                <option>Leite Ninho</option>
                <option>Doce de Leite com Queijo</option>
                <option>Nutella</option>
                <option>Ovomaltine</option>
                <option>Prestígio</option>
                <option>Churros</option>
                <option>Chocolate de Limão</option>
                <option>Napolitano</option>
                <option>Chocolate Meio Amargo</option>
                <option>Beijinho</option>
                <option>Capuccino</option>
                <option>Paçoca</option>
                <option>Morango Silvestre</option>
                <option>Oreo</option>
                <option>Leite Ninho com Nutela</option>
                <option>Romeu e Julieta</option>
                <option>Chocolate Belga de Laranja</option>

            </select>
            
            <p><span id="valor" class="valor"></span></p>             
            
            <section id="contact-section">    
                <form method='POST'> <!--{% csrf_token %} -->
                    <div id="get-data" >
                        <div class="green-side" style="margin-top:5%;" >
                            <label style="margin: 0 auto 0 auto;">Whatsapp:</label>
                            <input  style="margin: 2% auto 0 auto;" type="tel" name="usrtel" placeholder="(99) 99999-9999"  id="phonemask" required>
                        </div>
                    </div>
                </form>
            </section>

            <div id="send-data" style="margin: -5% auto 0 auto;">
                <button>Pedir</button>
            <div>
        </section>

    <!--BRIGADEIROS-->              
        <section id="brigadeiros">
            <h3>Brigadeiros</h3>

            <!--CARROSEL DOS BRIGADEIROS-->
            <div class= "container"> <!--Colocar essa parte dinamica no django-->
                <div class="carBrigadeiros">
                    <div><img src="images/brigadeiros/briga1.jpeg"></div>
                    <div><img src="images/brigadeiros/briga2.jpeg"></div>
                    <div><img src="images/brigadeiros/briga3.jpeg"></div>
                    <div><img src="images/brigadeiros/briga4.jpeg"></div>
                    <div><img src="images/brigadeiros/briga5.jpg"></div>
                    <div><img src="images/brigadeiros/briga6.jpg"></div>
                </div>
            </div>
            
            <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
            <script type="text/javascript" src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
            <script type="text/javascript" src="slick/slick.min.js"></script>
        </section>

    <!--CARDAPIO DOS BRIGADEIROS-->
        <section  id="cardapio">
            <h2>Cardápio de Brigadeiros</h2>
            <img src="images/cardapioBrigadeiro.png">            
        </section>

    <!--CONTATO-->
		<section id="contact-section">
			<h3 style="style= position: relative; 
            justify-content: center; font-weight: lighter; 
            font-family: 'Fira Sans', sans-serif; font-size: 50px; margin-bottom:3%; display:flex;">Contato</h3>	
			<form method='POST'> <!--{% csrf_token %} -->
				<div id="get-data">
					<div class="green-side">
						<label>Nome:</label>
						<input type="text" name="firstname" placeholder="Digite seu nome" required>
					</div>
					<div class="green-side">
						<label>Sobrenome:</label>
						<input type="text" name="lastname" placeholder="Digite seu sobrenome" required>
					</div>
					<div class="green-side">
						<label>Telefone:</label>
						<input type="tel" name="usrtel" placeholder="(99) 99999-9999" id="phonemask" required>
					</div>
					<div class="green-side">
						<label>Email</label>
						<input type="email" name="email" placeholder="Digite seu email" required>
					</div>
				</div>
				<div id="send-data">
					<div id = "contact-select">
						<select name="service" required class="border-box-contact">
							<option value="" disabled selected>Contato</option>
							<!--{% for servico in servicos %}
								<option>
									{{servico.servico}}
								</option> 
								
							{% endfor %}-->
                            <option>Convite</option>
                            <option>Festas</option>
                            <option>Outros</option>
						</select>
						<select name="meet" required class="border-box-contact">
							<option value="" disabled selected>Como conheceu?</option>
							<option value="option2">Instagram</option>
							<option value="option3">Indicação</option>
						</select>
					</div>
					<input type="text" name="subject" class="border-box-contact" id="contact-subject" placeholder="Assunto" required>
					<textarea name="message" id="message-contact" placeholder="Mensagem..." required></textarea>
					<button>Enviar</button>
				</div>
			</form>
		</section>

    <!--RODAPÉ-->
		<footer id="rodape">
			<hr id="footer-line">
			<div id="click">
                <a href="https://api.whatsapp.com/send?phone=5581994672605" target="_blank">
                    <img src="images/whatsapp-logo.png" id="icon_w">
                </a> 
                <a href="https://www.instagram.com/monettegourmet/" target="_blank">
                    <img src="images/instagram.png" id= "icon_i">
                </a>
            </div>

            <div >
            <h3  id="title_rodape"> Rua General Americano Freire, 561 - Boa viagem - Recife/PE</h3>
            </div>

		</footer>

        <script src="main.js"></script>
</body>
</html>
