body{

}


/*---------------- INICIO DO HEADER --------------------*/
header{
	width: 100%;
	background-color: white;
	height: 60px;
	color: black;
	position: fixed;
	top: 0;
	z-index: 100000;
	overflow: hidden; /*Tira o lag da nav no scroll*/
	border-bottom: 1px solid rgb(194, 194, 194);
	display: none;
}

#header-logo{
	position: absolute;
	width: 40px;
	top: -5px;
	margin-left: -5%;

}																	

#burger-header{
	width: 40px;
	position: absolute;
	right: 5%;
	top: 10px;
	cursor: pointer;
}

#burger-menu{
	width: 100%;
	background-color: white;
	position: fixed;
	top: 61px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	font-size: 20px;
	display: none;
	height: 180px;
	padding-left: 10%;
	padding-top: 10px;
	border-bottom: 1px solid rgb(194, 194, 194);
}

#burger-menu > a{
	color: black;
	text-decoration: none;
}

#header-network{
	display: flex;
	justify-content: center;
}

#header-network > a > img{
	width: 35px;
	margin: 10px;
	margin-left: 0;
}

#burger-menu> hr{
	position: absolute;
	top: 123px;
	left: 5%;
	width: 80%;
}

#header-links-1{
	display: none;	
}

#header-links-2{
	display: none;
}

/*@media(min-width:1220){
	#header-links-2{
		display: block;
	}
}*/

@media(min-width: 1220px){
	#burger-header{
		display: none;
	}

	#header-links-1{
		display: flex;
		position: absolute;
		left: 20%;
		top: 25px;
	}

	#header-logo{
		width: 60px;
		left: 10%;
	}

	header{
		height: 70px;
		overflow: hidden;
	}

	#header-links-1 > a{
		color: black;
		text-decoration: none;
		margin-right: 20px;
		font-size: 20px;
	}

	#header-links-2 > a > img{
		width: 40px;
		margin: 10px;
	}

	#header-links-2{
		display: flex;
		position: absolute;
		right: 10%;
		top: 5px;
	}
}																	

/*---------------- 	FIM DO HEADER --------------------*/

/*---------------- INICIO DO BANNER --------------------*/
#banner{
	width: 100%;
	overflow: hidden;
}
#banner_logo{
	position: relative;
	display: flex; 
	margin: 0 auto 0 auto; 
	width: 600px;
	height: 600px;
	overflow: hidden;
}

#text-banner{
	display: flex; 
	justify-content: center; 
	position: relative; 
	margin-top: -5%;
	margin-bottom: 10%; 
	font-weight: 100; 
	font-size: 40px; 
	font-family: 'Fira Sans', sans-serif;
	overflow: hidden;
}

#text-banner::after{
	content:'|';
	color: rgb(154, 226, 100);
	margin-left: 5px;
	opacity: 1;
	animation: blink .7s infinite;
}

@keyframes blink {
	0%, 100% {
		opacity: 1;
	}

	50%{
		opacity: 0;
	}
}

@media(max-width: 900px){
	#banner_logo{
		margin: 0 auto 0 auto;
		width: 500px;
		height: 550px;
		overflow: hidden;
	}
}

@media(max-width: 700px){
	#banner_logo{
	margin: 0 auto 0 auto;
	overflow: hidden;
	}
}

@media(max-width: 600px){
	#banner_logo{
		margin: 0 auto 0 auto;
		width: 400px;
		height: 400px;
		overflow: hidden;
	}
	#banner > h3 {
		text-align: center;
	}
}
@media(max-width: 450px){
	#banner_logo{
		margin: 0 auto 0 auto;
		width: 400px;
		height: 430px;
		overflow: hidden;
	}
	#banner > h3 {
		text-align: center;
	}
}

@media(max-width: 400px){
	#banner_logo{
		height: 550px;
		overflow: hidden;
	}
	#banner > h3 {
		text-align: center;
		margin-bottom: 20%;
	}
	#banner > img {
		width: 300px;
		height: 350px;
	}
}
/*---------------- FIM DO BANNER --------------------*/

/*---------------- INICIO DO BOLOS --------------------*/

#bolos > h3{
	display: flex; 
	position: relative; 
	justify-content: center;
	font-weight: lighter; 
	font-family: 'Fira Sans', sans-serif; 
	font-size: 50px; 
	margin-bottom:2%;
}

.container {
	margin-bottom: 5%;
}

/*---------------- FIM DO BOLOS --------------------*/

/*---------------- INICIO DO MONTE SEU BOLO --------------------*/

#monte_seu_bolo > h3{
	display: flex; 
	position: relative; 
	justify-content: center; 
	font-weight: lighter; 
	font-family: 'Fira Sans', sans-serif; 
	font-size: 50px; 
	margin-bottom:5%;
}

#monte_seu_bolo > p > span{
	display:block; 
	position:relative; 
	justify-content:center; 
	margin-top: 5%; 
	margin-bottom:0%;
	margin-left:40%; 
	font-weight: bolder; 
	font-size: 15px;
}

.efeito{
	background: rgb(154, 226, 100);
	transform-style: preserve-3d; 
}

.efeito:after{
	top: -100%;
	left: 0px;
	width: 100%;
	padding: 7%;
	position: absolute;
	background: rgb(11, 31, 23);
	border-radius: 7px;
	box-sizing: border-box;
	content: 'Pedir';
	transform-origin: left bottom;
	transform: rotateX(90deg);
}

.efeito:hover{
	transform-origin: center bottom;
	transform: rotateX(-90deg) translateY(100%);
}

@media(max-width: 1100px){
	.green-side > input{
		width: 400px; 
	}

	#send-data{
		width: 550px;
	}

	#monte_seu_bolo > h3{
		text-align: center;
	}
}

@media(max-width: 1000px){
	.green-side > input{
		width: 350px;
	}

	#send-data{
		width: 500px;
	}

	#monte_seu_bolo > select{
		width: 230px;
	}

	#monte_seu_bolo > h3{
		text-align: center;
	}
}

@media(max-width: 900px){
	#contact-section-whats > h2{
		left: 50%;
		right: 50%;
		transform: translate(-50%, -50%); 
		width: 110px;
	}

	#contact-line{
		left: 50%;
		right: 50%;
		transform: translate(-50%, -50%); 
		width: 150px;
		top: 60px;
		border-top: 1px solid rgb(20, 49, 37);
	}

	#contact-section-whats	 > form{
		display: flex;
		flex-direction: column;
	}

	#get-data{
		width: 100%;
		display: flex;
		flex-direction: column;
	}

	.green-side{
		align-self: center;
	}

	#send-data{
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		padding-top: 15px;
	}

	#contact-select{
		display: flex;
		justify-content: center;
		margin-bottom: 30px;
	}

	#contact-select > select{
		margin: 8px;
	}

	.green-side > input{
		width: 450px;
	}

	#contact-subject{
		width: 450px;
	}

	#message-contact{
		width: 430px;
	}
	#monte_seu_bolo > h3{
		text-align: center;
	}
}

@media(max-width: 500px){
	.green-side > input{
		width: 300px;
	}

	#send-data{
		padding-top: 0;
		
	}

	#message-contact{
		width: 272px;
		margin: 10px;
	}

	#contact-subject{
		width: 292px;
		margin-bottom: 10px;
	}

	#contact-select{
		display: flex;
		flex-direction: column;
		margin: 5px;
	}

	#monte_seu_bolo > select{
		width: 320px;
		align-self: center;
		margin-bottom: 14px;
	}
	#monte_seu_bolo > h3{
		text-align: center;
	}
}

@media(max-width: 400px){
	.green-side > input{
		width: 250px;
	}

	#message-contact{
		width: 230px;
	}

	#contact-subject{
		width: 248px;
	}

	#monte_seu_bolo > select{
		width: 275px;
	}
	#monte_seu_bolo > h3{
		text-align: center;
	}
}

/*---------------- FIM DO MONTE SEU BOLO --------------------*/




/*---------------- INICIO DE BRIGADEIROS --------------------*/
#brigadeiros > h3{
	display: flex; 
	position: relative; 
	justify-content: center; 
	font-weight: lighter; 
	font-family: 'Fira Sans', sans-serif; 
	font-size: 50px; 
	margin-bottom:5%;
}

/*---------------- FIM DE BRIGADEIROS --------------------*/

/*---------------- INICIO DE CARDAPIO --------------------*/
#cardapio{
	background-color: rgb(254,234,223); 
	justify-content:center;
}

#cardapio > h2 {
	display: flex; 
	position: relative; 
	justify-content: center; 
	font-weight: lighter; 
	font-family: 'Fira Sans', sans-serif; 
	font-size: 50px; 
	margin-bottom:2%; 
	background-color: rgb(254,234,223);
	
}

#cardapio > img{
	display:flex; 
	position:relative; 
	justify-content:center; 
	background-color: rgb(254,234,223); 
	margin:0 auto 0 auto;
}

@media(max-width: 600px){
	#cardapio > img{
		width: 300px;
	}
	#cardapio > h2{
		text-align: center;
	}
}
@media(max-width: 400px){
	#cardapio > img{
		width: 300px;
	}
	#cardapio > h2{
		text-align: center;
	}
}


/*---------------- FIM DE CARDAPIO --------------------*/


/*---------------- INICIO DO CONTATO --------------------*/
#contact-section{
	position: relative;
	width: 100%;
	overflow: hidden;
	background-color: white;
}

#contact-section > form{
	width: 100%;
	margin-top: 14px;
	display: flex;
	justify-content: space-around;
	margin-bottom: 70px;
}

.green-side{
	display: flex;
	flex-direction: column;
}

.green-side > label{
	font-weight: bolder;
	font-size: 17px;
	margin-bottom: 14px;
}

.green-side > input{
	background-color: rgb(154, 226, 100);
	color: white;
	height: 50px;
	width: 450px;
	border-radius: 25px;
	border: none;
	padding-left: 20px;
	font-size: 15px;
	margin-bottom: 14px;
	outline-style: none;
}

#last-green-side{
	margin-bottom: 0;
}

.green-side > ::placeholder{
	color: white;
}

.border-box-contact{
	border: 4px solid rgb(154, 226, 100);
	height: 45px;
	border-radius: 15px;
	outline-style: none;
}

#message-contact{
	border: 4px solid rgb(154, 226, 100);
	border-radius: 15px;
	outline-style: none;
	resize: none;
	height: 80px;
	font-weight: bolder;
	padding: 20px;
}

#contact-select{
	width: 100%;
	display: flex;
	justify-content: space-between;
}

#contact-select > select{
	width: 250px;
	margin-bottom: 40px;
	padding-left: 20px;
	background-color: white;
}

#contact-subject{
	margin-bottom: 40px;
	height: 40px;
	padding-left: 20px;
	font-weight: bolder;
}

#send-data{
	display: flex;
	flex-direction: column;
	width: 610px;
	padding-top: 40px;
}

#send-data > button{
	width: 200px;
	margin-top: 27px;
	align-self: center;
	color: white;
	background-color: rgb(154, 226, 100);;
	border: none;
	border-radius: 5px;
	height: 50px;
	font-size: 18px;
}

#send-data > button:hover{
	background-color: rgb(11, 31, 23);
	cursor: pointer;
}

#send-data > ::placeholder{
	color: rgb(62, 61, 63);
}

@media(max-width: 1100px){
	.green-side > input{
		width: 400px;
	}

	#send-data{
		width: 550px;
	}
}

@media(max-width: 1000px){
	.green-side > input{
		width: 350px;
	}

	#send-data{
		width: 500px;
	}

	#contact-select > select{
		width: 230px;
	}
}

@media(max-width: 900px){
	#contact-section > h2{
		left: 50%;
		right: 50%;
		transform: translate(-50%, -50%); 
		width: 110px;
	}

	#contact-line{
		left: 50%;
		right: 50%;
		transform: translate(-50%, -50%); 
		width: 150px;
		top: 60px;
		border-top: 1px solid rgb(20, 49, 37);
	}

	#contact-section > form{
		display: flex;
		flex-direction: column;
	}

	#get-data{
		width: 100%;
		display: flex;
		flex-direction: column;
	}

	.green-side{
		align-self: center;
	}

	#send-data{
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		padding-top: 15px;
	}

	#contact-select{
		display: flex;
		justify-content: center;
		margin-bottom: 30px;
	}

	#contact-select > select{
		margin: 8px;
	}

	.green-side > input{
		width: 450px;
	}

	#contact-subject{
		width: 450px;
	}

	#message-contact{
		width: 430px;
	}
}

@media(max-width: 500px){
	.green-side > input{
		width: 300px;
	}

	#send-data{
		padding-top: 0;
	}

	#message-contact{
		width: 272px;
		margin: 10px;
	}

	#contact-subject{
		width: 292px;
		margin-bottom: 10px;
	}

	#contact-select{
		display: flex;
		flex-direction: column;
		margin: 5px;
	}

	#contact-select > select{
		width: 320px;
		align-self: center;
		margin-bottom: 14px;
	}
}

@media(max-width: 400px){
	.green-side > input{
		width: 250px;
	}

	#message-contact{
		width: 230px;
	}

	#contact-subject{
		width: 248px;
	}

	#contact-select > select{
		width: 275px;
	}
}
/*---------------- FIM DO CONTATO --------------------*/


/*---------------- INICIO DO RODAPE --------------------*/

#title_rodape{
	display:flex;
	position:relative; 
	justify-content: center; 
	font-weight:300; 
	font-size:15px; 
	font-family:'Fira Sans', sans-serif;
}

@media(max-width: 900px){
	#title_rodape {
		text-align: center;
	}
}

@media(max-width: 400px){
	#title_rodape {
		text-align: center;
	}
}
/*---------------- FIM DO RODAPE --------------------*/


#direitos{
	display: flex;
	position: relative;
	justify-content: center;
	text-align: center;
	font-family: 'Fira Sans', sans-serif;
    width: 100%;
    bottom: 0;
    left: 0;
    padding: 8px 3px;
    font-size: 12px;
	background:  rgb(154, 226, 100);
	border-radius: 5px;

}
#lucas{
	display:flex; 
	position:relative; 
	justify-content:center
}

#lucas-image{
	width: 25%; 
	margin-left: 35%;
}
